{% extends 'base.html' %}

{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}
<h1><center>{{ post.title }}</center></h1>
  
<small>By: {{ post.author.first_name }} 
           {{ post.author.last_name }}
         | <a href = "{% url 'update_post' post.pk %}", style="color:blue">Edit</a>
         | <a href = "{% url 'delete_post' post.pk %}", style="color:rgb(176, 36, 36)">Delete</a></small> <br/>
<hr>
<br/>
{{ post.body }}

<style>
body {
    background-color: rgba(0, 0, 0, 0.142);
}
</style>

<br/><br/>
<a href = "{% url 'home' %}" class = "btn btn-secondary">Back</a>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<img src="https://www.eltiempo.com/files/image_640_428/uploads/2021/12/01/61a80a83351b7.jpeg" 
alt="illuminati"
style width="200px"> 

{% endblock %} 